repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
    -   id: black # Auto-formats Python

-   repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.86.0
    hooks:
    -   id: terraform_fmt
    -   id: terraform_validate
    -   id: terraform_tflint   # Azure/AWS best practices

-   repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
    -   id: shellcheck # Validates Bash scripts

-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
    -   id: gitleaks # Stops Azure/AWS secret leaks
